<div class="ocms-icon-list col-lg-12">
  {% block content %}
    <h3 class="ocms-icon-list__title">{{ content.field_ocms_icon_list_title }}</h3>
    {{ content.field_ocms_icon_checklist }}
  {% endblock %}
</div>