/**
 * @file
 * Visual styles for Restaurant+'s Restaurant content type.
 */
.node--type-ocms-Restaurant .node__meta {
  margin-bottom: 0;
}
.node--type-ocms-Restaurant .node__meta .inline-list {
  margin-top: 0;
  margin-bottom: 0;
}
.node--type-ocms-Restaurant .node__header {
  padding-bottom: 0;
}
.node--type-ocms-Restaurant .node__header + .field:not(.field--name-field-ocms-subtitle) {
  padding-top: 10px;
}
.node--type-ocms-Restaurant .node__title {
  margin-bottom: 20px;
}
