/**
 * @file
 * Visual styles for Restaurant+'s testimonials list 2 views.
 */
.view-testimonials-list-2 .views-field-body {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.40;
  padding-bottom: 20px;
}
.view-testimonials-list-2 .views-field-body p:before {
  content: "“";
}
.view-testimonials-list-2 .views-field-body p:after {
  content: "”";
}
.view-testimonials-list-2 .views-field-title {
  font-size: 12px;
  font-weight: 600;
}
.headings-wide-spacing-enabled .view-testimonials-list-2 .views-field-title {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
