/* Fonts families */
body.pff-01 {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
body.pff-02 {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
body.pff-03 {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
body.pff-04 {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-05 {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
body.pff-06 {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-07 {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
body.pff-08 {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
body.pff-09 {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
body.pff-10 {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
body.pff-11 {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
body.pff-12 {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
body.pff-13 {
  font-family: Georgia, Times New Roman, Serif;
}
body.pff-14 {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
body.pff-15 {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
body.pff-17 {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
body.pff-18 {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
body.pff-19 {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
body.pff-20 {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
body.pff-21 {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
body.pff-22 {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-23 {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-24 {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
body.pff-25 {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
body.pff-26 {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-27 {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
body.pff-28 {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
body.pff-29 {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
body.pff-30 {
  font-family: Times, Times New Roman, Serif;
}
body.pff-33 {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-34 {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
body.pff-35 {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
body.pff-37 {
  font-family: 'Work Sans', Helvetica Neue, Arial, sans-serif;
}
body.pff-38 {
  font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
}
body.pff-39 {
  font-family: 'PT Sans Narrow', Helvetica Neue, Arial, sans-serif;
}
body.pff-40 {
  font-family: 'Archivo Narrow', Helvetica Neue, Arial, sans-serif;
}
body.pff-41 {
  font-family: 'Ubuntu Condensed', Helvetica Neue, Arial, sans-serif;
}
body.pff-42 {
  font-family: 'Arimo', Helvetica Neue, Arial, sans-serif;
}
.hff-01 h1,
.hff-01 h2,
.hff-01 h3,
.hff-01 h4,
.hff-01 h5,
.hff-01 h6,
.hff-01 .tp-caption,
.hff-01 input,
.hff-01 select,
.hff-01 textarea,
.sff-01 .site-name,
.slff-01 .site-slogan {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
.hff-02 h1,
.hff-02 h2,
.hff-02 h3,
.hff-02 h4,
.hff-02 h5,
.hff-02 h6,
.hff-02 .tp-caption,
.hff-02 input,
.hff-02 select,
.hff-02 textarea,
.sff-02 .site-name,
.slff-02 .site-slogan {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
.hff-03 h1,
.hff-03 h2,
.hff-03 h3,
.hff-03 h4,
.hff-03 h5,
.hff-03 h6,
.hff-03 .tp-caption,
.hff-03 input,
.hff-03 select,
.hff-03 textarea,
.sff-03 .site-name,
.slff-03 .site-slogan {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
.hff-04 h1,
.hff-04 h2,
.hff-04 h3,
.hff-04 h4,
.hff-04 h5,
.hff-04 h6,
.hff-04 .tp-caption,
.hff-04 input,
.hff-04 select,
.hff-04 textarea,
.sff-04 .site-name,
.slff-04 .site-slogan {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-05 h1,
.hff-05 h2,
.hff-05 h3,
.hff-05 h4,
.hff-05 h5,
.hff-05 h6,
.hff-05 .tp-caption,
.hff-05 input,
.hff-05 select,
.hff-05 textarea,
.sff-05 .site-name,
.slff-05 .site-slogan {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
.hff-06 h1,
.hff-06 h2,
.hff-06 h3,
.hff-06 h4,
.hff-06 h5,
.hff-06 h6,
.hff-06 .tp-caption,
.hff-06 input,
.hff-06 select,
.hff-06 textarea,
.sff-06 .site-name,
.slff-06 .site-slogan {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-07 h1,
.hff-07 h2,
.hff-07 h3,
.hff-07 h4,
.hff-07 h5,
.hff-07 h6,
.hff-07 .tp-caption,
.hff-07 input,
.hff-07 select,
.hff-07 textarea,
.sff-07 .site-name,
.slff-07 .site-slogan {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
.hff-08 h1,
.hff-08 h2,
.hff-08 h3,
.hff-08 h4,
.hff-08 h5,
.hff-08 h6,
.hff-08 .tp-caption,
.hff-08 input,
.hff-08 select,
.hff-08 textarea,
.sff-08 .site-name,
.slff-08 .site-slogan {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
.hff-09 h1,
.hff-09 h2,
.hff-09 h3,
.hff-09 h4,
.hff-09 h5,
.hff-09 h6,
.hff-09 .tp-caption,
.hff-09 input,
.hff-09 select,
.hff-09 textarea,
.sff-09 .site-name,
.slff-09 .site-slogan {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
.hff-10 h1,
.hff-10 h2,
.hff-10 h3,
.hff-10 h4,
.hff-10 h5,
.hff-10 h6,
.hff-10 .tp-caption,
.hff-10 input,
.hff-10 select,
.hff-10 textarea,
.sff-10 .site-name,
.slff-10 .site-slogan {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
.hff-11 h1,
.hff-11 h2,
.hff-11 h3,
.hff-11 h4,
.hff-11 h5,
.hff-11 h6,
.hff-11 .tp-caption,
.hff-11 input,
.hff-11 select,
.hff-11 textarea,
.sff-11 .site-name,
.slff-11 .site-slogan {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
.hff-12 h1,
.hff-12 h2,
.hff-12 h3,
.hff-12 h4,
.hff-12 h5,
.hff-12 h6,
.hff-12 .tp-caption,
.hff-12 input,
.hff-12 select,
.hff-12 textarea,
.sff-12 .site-name,
.slff-12 .site-slogan {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
.hff-13 h1,
.hff-13 h2,
.hff-13 h3,
.hff-13 h4,
.hff-13 h5,
.hff-13 h6,
.hff-13 .tp-caption,
.hff-13 input,
.hff-13 select,
.hff-13 textarea,
.sff-13 .site-name,
.slff-13 .site-slogan {
  font-family: Georgia, Times New Roman, Serif;
}
.hff-14 h1,
.hff-14 h2,
.hff-14 h3,
.hff-14 h4,
.hff-14 h5,
.hff-14 h6,
.hff-14 .tp-caption,
.hff-14 input,
.hff-14 select,
.hff-14 textarea,
.sff-14 .site-name,
.slff-14 .site-slogan {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
.hff-15 h1,
.hff-15 h2,
.hff-15 h3,
.hff-15 h4,
.hff-15 h5,
.hff-15 h6,
.hff-15 .tp-caption,
.hff-15 input,
.hff-15 select,
.hff-15 textarea,
.sff-15 .site-name,
.slff-15 .site-slogan {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
.hff-16 h1,
.hff-16 h2,
.hff-16 h3,
.hff-16 h4,
.hff-16 h5,
.hff-16 h6,
.hff-16 .tp-caption,
.hff-16 input,
.hff-16 select,
.hff-16 textarea,
.sff-16 .site-name,
.slff-16 .site-slogan {
  font-family: 'Cinzel', Georgia, Times New Roman, Serif;
}
.hff-17 h1,
.hff-17 h2,
.hff-17 h3,
.hff-17 h4,
.hff-17 h5,
.hff-17 h6,
.hff-17 .tp-caption,
.hff-17 input,
.hff-17 select,
.hff-17 textarea,
.sff-17 .site-name,
.slff-17 .site-slogan {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
.hff-18 h1,
.hff-18 h2,
.hff-18 h3,
.hff-18 h4,
.hff-18 h5,
.hff-18 h6,
.hff-18 .tp-caption,
.hff-18 input,
.hff-18 select,
.hff-18 textarea,
.sff-18 .site-name,
.slff-18 .site-slogan {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
.hff-19 h1,
.hff-19 h2,
.hff-19 h3,
.hff-19 h4,
.hff-19 h5,
.hff-19 h6,
.hff-19 .tp-caption,
.hff-19 input,
.hff-19 select,
.hff-19 textarea,
.sff-19 .site-name,
.slff-19 .site-slogan {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
.hff-20 h1,
.hff-20 h2,
.hff-20 h3,
.hff-20 h4,
.hff-20 h5,
.hff-20 h6,
.hff-20 .tp-caption,
.hff-20 input,
.hff-20 select,
.hff-20 textarea,
.sff-20 .site-name,
.slff-20 .site-slogan {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
.hff-21 h1,
.hff-21 h2,
.hff-21 h3,
.hff-21 h4,
.hff-21 h5,
.hff-21 h6,
.hff-21 .tp-caption,
.hff-21 input,
.hff-21 select,
.hff-21 textarea,
.sff-21 .site-name,
.slff-21 .site-slogan {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
.hff-22 h1,
.hff-22 h2,
.hff-22 h3,
.hff-22 h4,
.hff-22 h5,
.hff-22 h6,
.hff-22 .tp-caption,
.hff-22 input,
.hff-22 select,
.hff-22 textarea,
.sff-22 .site-name,
.slff-22 .site-slogan {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-23 h1,
.hff-23 h2,
.hff-23 h3,
.hff-23 h4,
.hff-23 h5,
.hff-23 h6,
.hff-23 .tp-caption,
.hff-23 input,
.hff-23 select,
.hff-23 textarea,
.sff-23 .site-name,
.slff-23 .site-slogan {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-24 h1,
.hff-24 h2,
.hff-24 h3,
.hff-24 h4,
.hff-24 h5,
.hff-24 h6,
.hff-24 .tp-caption,
.hff-24 input,
.hff-24 select,
.hff-24 textarea,
.sff-24 .site-name,
.slff-24 .site-slogan {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
.hff-25 h1,
.hff-25 h2,
.hff-25 h3,
.hff-25 h4,
.hff-25 h5,
.hff-25 h6,
.hff-25 .tp-caption,
.hff-25 input,
.hff-25 select,
.hff-25 textarea,
.sff-25 .site-name,
.slff-25 .site-slogan {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
.hff-26 h1,
.hff-26 h2,
.hff-26 h3,
.hff-26 h4,
.hff-26 h5,
.hff-26 h6,
.hff-26 .tp-caption,
.hff-26 input,
.hff-26 select,
.hff-26 textarea,
.sff-26 .site-name,
.slff-26 .site-slogan {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-27 h1,
.hff-27 h2,
.hff-27 h3,
.hff-27 h4,
.hff-27 h5,
.hff-27 h6,
.hff-27 .tp-caption,
.hff-27 input,
.hff-27 select,
.hff-27 textarea,
.sff-27 .site-name,
.slff-27 .site-slogan {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
.hff-28 h1,
.hff-28 h2,
.hff-28 h3,
.hff-28 h4,
.hff-28 h5,
.hff-28 h6,
.hff-28 .tp-caption,
.hff-28 input,
.hff-28 select,
.hff-28 textarea,
.sff-28 .site-name,
.slff-28 .site-slogan {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
.hff-29 h1,
.hff-29 h2,
.hff-29 h3,
.hff-29 h4,
.hff-29 h5,
.hff-29 h6,
.hff-29 .tp-caption,
.hff-29 input,
.hff-29 select,
.hff-29 textarea,
.sff-29 .site-name,
.slff-29 .site-slogan {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
.hff-30 h1,
.hff-30 h2,
.hff-30 h3,
.hff-30 h4,
.hff-30 h5,
.hff-30 h6,
.hff-30 .tp-caption,
.hff-30 input,
.hff-30 select,
.hff-30 textarea,
.sff-30 .site-name,
.slff-30 .site-slogan {
  font-family: Times, Times New Roman, Serif;
}
.hff-31 h1,
.hff-31 h2,
.hff-31 h3,
.hff-31 h4,
.hff-31 h5,
.hff-31 h6,
.hff-31 .tp-caption,
.hff-31 input,
.hff-31 select,
.hff-31 textarea,
.sff-31 .site-name,
.slff-31 .site-slogan {
  font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif;
}
.hff-32 h1,
.hff-32 h2,
.hff-32 h3,
.hff-32 h4,
.hff-32 h5,
.hff-32 h6,
.hff-32 .tp-caption,
.hff-32 input,
.hff-32 select,
.hff-32 textarea,
.sff-32 .site-name,
.slff-32 .site-slogan {
  font-family: 'Montserrat', Helvetica Neue, Arial, Sans-serif;
}
.hff-33 h1,
.hff-33 h2,
.hff-33 h3,
.hff-33 h4,
.hff-33 h5,
.hff-33 h6,
.hff-33 .tp-caption,
.hff-33 input,
.hff-33 select,
.hff-33 textarea,
.sff-33 .site-name,
.slff-33 .site-slogan {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-34 h1,
.hff-34 h2,
.hff-34 h3,
.hff-34 h4,
.hff-34 h5,
.hff-34 h6,
.hff-34 .tp-caption,
.hff-34 input,
.hff-34 select,
.hff-34 textarea,
.sff-34 .site-name,
.slff-34 .site-slogan {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
.hff-35 h1,
.hff-35 h2,
.hff-35 h3,
.hff-35 h4,
.hff-35 h5,
.hff-35 h6,
.hff-35 .tp-caption,
.hff-35 input,
.hff-35 select,
.hff-35 textarea,
.sff-35 .site-name,
.slff-35 .site-slogan {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-36 h1,
.hff-36 h2,
.hff-36 h3,
.hff-36 h4,
.hff-36 h5,
.hff-36 h6,
.hff-36 .tp-caption,
.hff-36 input,
.hff-36 select,
.hff-36 textarea,
.sff-36 .site-name,
.slff-36 .site-slogan {
  font-family: 'Julius Sans One', Helvetica Neue, Arial, sans-serif;
}
.hff-37 h1,
.hff-37 h2,
.hff-37 h3,
.hff-37 h4,
.hff-37 h5,
.hff-37 h6,
.hff-37 .tp-caption,
.hff-37 input,
.hff-37 select,
.hff-37 textarea,
.sff-37 .site-name,
.slff-37 .site-slogan {
  font-family: 'Work Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-38 h1,
.hff-38 h2,
.hff-38 h3,
.hff-38 h4,
.hff-38 h5,
.hff-38 h6,
.hff-38 .tp-caption,
.hff-38 input,
.hff-38 select,
.hff-38 textarea,
.sff-38 .site-name,
.slff-38 .site-slogan {
  font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
}
.hff-39 h1,
.hff-39 h2,
.hff-39 h3,
.hff-39 h4,
.hff-39 h5,
.hff-39 h6,
.hff-39 .tp-caption,
.hff-39 input,
.hff-39 select,
.hff-39 textarea,
.sff-39 .site-name,
.slff-39 .site-slogan {
  font-family: 'PT Sans Narrow', Helvetica Neue, Arial, sans-serif;
}
.hff-40 h1,
.hff-40 h2,
.hff-40 h3,
.hff-40 h4,
.hff-40 h5,
.hff-40 h6,
.hff-40 .tp-caption,
.hff-40 input,
.hff-40 select,
.hff-40 textarea,
.sff-40 .site-name,
.slff-40 .site-slogan {
  font-family: 'Archivo Narrow', Helvetica Neue, Arial, sans-serif;
}
.hff-41 h1,
.hff-41 h2,
.hff-41 h3,
.hff-41 h4,
.hff-41 h5,
.hff-41 h6,
.hff-41 .tp-caption,
.hff-41 input,
.hff-41 select,
.hff-41 textarea,
.sff-41 .site-name,
.slff-41 .site-slogan {
  font-family: 'Ubuntu Condensed', Helvetica Neue, Arial, sans-serif;
}
.hff-42 h1,
.hff-42 h2,
.hff-42 h3,
.hff-42 h4,
.hff-42 h5,
.hff-42 h6,
.hff-42 .tp-caption,
.hff-42 input,
.hff-42 select,
.hff-42 textarea,
.sff-42 .site-name,
.slff-42 .site-slogan {
  font-family: 'Arimo', Helvetica Neue, Arial, sans-serif;
}

body.maintenance-page {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}