/**
 * @file
 * Visual styles for Showcase+'s layout.
 */

/*Regions background colors*/
.region--white-background {
  background-color: #ffffff;
}
.region--gray-background {
  background-color: #f4f4f4;
}
.region--black-background {
  background-color: #1d1d1d;
}
.region--white-pattern {
  background-image: url('../../images/white-pattern.png');
  background-repeat: repeat;
  background-position: 0 0;
}

/*header-top-highlighted*/
.header-top-highlighted__container {
  position: relative;
  z-index: 498;
}
.header-top-highlighted__section {
  font-size: 13px;
}

/*header-top layout*/
.header-top__container {
  padding: 20px 0 15px;
}
.region--white-background .header-top__container {
  border-bottom: 1px solid #f4f4f4;
}
.header-top__container p:last-child:first-child {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .header-top__section {
    text-align: center;
  }
}

/*header layout*/
.header-container {
  padding: 0;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 100;
}
.header__container {
  padding: 20px 0;
  position: relative;
}
.header-container .header.region--gray-background {
  background-color: #f1f1f1;
}
.header-first {
  padding: 5px 0;
}
@media (max-width:767px) {
  .header__container {
    padding: 15px 0;
  }
}

/*Regions spacing*/
.banner {
  padding: 120px 0 150px;
}
.content-top__section {
  padding: 120px 0 150px;
}
.content-top-highlighted__section {
  padding: 80px 0;
}
.media-background {
  width: 100%;
  position: relative;
  z-index: 0;
}
.page-container-border-enabled .media-background {
  width: auto;
}
.media-background__section {
  padding: 100px 0;
}
.media-background__container {
  position: relative;
  z-index: 3;
}
.main-content__section,
.sidebar__section {
  padding: 140px 0 130px;
}
@media (max-width: 991px) {
  .sidebar__section {
    padding-top: 0;
  }
}
.content-bottom__section {
  padding: 80px 0 70px;
}
.featured-top__section {
  padding: 140px 0 120px;
}
.featured__section {
  padding: 115px 0 140px;
}
.featured-bottom__section {
  padding: 120px 0 100px;
}
.sub-featured__section {
  padding: 120px 0 100px;
}
.highlighted-top__section {
  padding: 90px 0 120px;
}
.highlighted__section {
  padding: 60px 0;
}
.footer-top__section {
  padding: 140px 0 130px;
}

/*Footer*/
.footer {
  position: relative;
}
.footer__section {
  padding: 90px 0;
}
@media (max-width:767px) {
  .footer__section {
    text-align: center;
  }
}

/*Footer bottom*/
.footer-bottom__container {
  padding: 60px 0;
}
.region--black-background + .region--black-background .footer-bottom__container,
.region--colored-background + .region--colored-background .footer-bottom__container,
.region--dark-background + .region--dark-background .footer-bottom__container,
.region--white-background + .region--white-background .footer-bottom__container,
.region--gray-background + .region--gray-background .footer-bottom__container {
  padding-top: 0;
}

@media (max-width:767px) {
  .footer-bottom__section {
    text-align: center;
  }
}

/*Subfooter*/
.subfooter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
}
.subfooter.region--separator-incline-diagonal,
.subfooter.region--separator-decline-diagonal,
.subfooter.region--separator-border-top {
  border-width: 0;
}
.subfooter__container {
  padding: 40px 0;
}
.region--black-background + .region--black-background.subfooter {
  border-top-color: #393939;
}
.region--colored-background + .region--colored-background.subfooter {
  border-top-color: rgba(255, 255, 255, 0.06);
}
.region--dark-background + .region--dark-background.subfooter {
  border-top-color: rgba(255, 255, 255, 0.06);
}
.region--white-background + .region--white-background.subfooter,
.region--gray-background + .region--gray-background.subfooter {
  border-top-color: #eaeaea;
}
.subfooter__section {
  font-size: 10px;
}
.headings-wide-spacing-enabled .subfooter__section {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .subfooter__section {
    text-align: center;
  }
}

/*Regions Separators*/
/*border top*/
.region--separator-border-top:before {
  height: 1px;
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .region--separator-border-top:before {
    margin: 0 15px;
  }
}
.region--white-background + .region--white-background.region--separator-border-top:before,
.region--gray-background + .region--gray-background.region--separator-border-top:before {
  background-color: #e5e5e5;
}
.region--colored-background + .region--colored-background.region--separator-border-top:before,
.region--dark-background + .region--dark-background.region--separator-border-top:before,
.region--black-background + .region--black-background.region--separator-border-top:before {
  background-color: rgba(255, 255, 255, 0.5);
}

/*incline diagonal*/
.region--separator-incline-diagonal {
  padding-top: 210px;
  position: relative;
  overflow: hidden;
}
.region--separator-incline-diagonal:before {
  position: absolute;
  top: 0;
  left: -5%;
  height: 140px;
  width: 110%;
  display: block;
}
.region--white-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #ffffff 49.5%, transparent 50%);
}
.region--gray-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #f4f4f4 49.5%, transparent 50%);
}
.region--black-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #1d1d1d 49.5%, transparent 50%);
}
.region--white-background + .region--white-background.region--separator-incline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-incline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-incline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-incline-diagonal:before,
.region--black-background + .region--black-background.region--separator-incline-diagonal:before {
  background: none;
}
@media (max-width: 767px) {
  .region--separator-incline-diagonal {
    padding-top: 100px;
  }
  .region--separator-incline-diagonal:before {
    height: 70px;
  }
}

/*decline diagonal*/
.region--separator-decline-diagonal {
  padding-top: 210px;
  position: relative;
  overflow: hidden;
}
.region--separator-decline-diagonal:before {
  position: absolute;
  top: 0;
  left: -5%;
  height: 140px;
  width: 110%;
  display: block;
}
.region--white-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #ffffff 49.5%, transparent 50%);
}
.region--gray-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #f4f4f4 49.5%, transparent 50%);
}
.region--black-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #1d1d1d 49.5%, transparent 50%);
}
.region--white-background + .region--white-background.region--separator-decline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-decline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-decline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-decline-diagonal:before,
.region--black-background + .region--black-background.region--separator-decline-diagonal:before {
  background: none;
}
@media (max-width: 767px) {
  .region--separator-decline-diagonal {
    padding-top: 100px;
  }
  .region--separator-decline-diagonal:before {
    height: 70px;
  }
}

/*Region paddings reset*/
.region--no-paddings,
.slideout.region--no-paddings,
.region--no-paddings .header-top__container,
.region--no-paddings .header__container,
.region--no-paddings .content-top__section,
.region--no-paddings .content-top-highlighted__section,
.region--no-paddings .media-background__section,
.region--no-paddings .main-content__section,
.region--no-paddings .sidebar__section,
.region--no-paddings .sidebar__section,
.region--no-paddings .content-bottom__section,
.region--no-paddings .featured-top__section,
.region--no-paddings .featured__section,
.region--no-paddings .featured-bottom__section,
.region--no-paddings .sub-featured__section,
.region--no-paddings .highlighted-top__section,
.region--no-paddings .highlighted__section,
.region--no-paddings .footer-top__section,
.region--no-paddings .footer__section,
.region--no-paddings .footer-bottom__container,
.region--no-paddings .subfooter__container {
  padding-top: 0;
  padding-bottom: 0;
}

/*Bordered Container*/
.container--bordered-left {
  padding-left: 70px;
  border-width: 0 0 0 3px;
  border-color: #efefef;
  border-style: solid;
}

/*Custom Grid*/
.grid-gutter-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.container-fluid .grid-gutter-0 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid-gutter-0 .col-lg-6,
.grid-gutter-0 .col-lg-4,
.grid-gutter-0 .col-lg-3,
.grid-gutter-0 .col-md-6,
.grid-gutter-0 .col-md-4,
.grid-gutter-0 .col-md-3,
.grid-gutter-0 .col-sm-6,
.grid-gutter-0 .col-sm-4,
.grid-gutter-0 .col-sm-3,
.grid-gutter-0 .col-xs-6,
.grid-gutter-0 .col-xs-4,
.grid-gutter-0 .col-xs-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-gutter-5 {
  margin-right: -5px;
  margin-left: -5px;
}
.container-fluid .grid-gutter-5 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid-gutter-5 .col-lg-6,
.grid-gutter-5 .col-lg-4,
.grid-gutter-5 .col-lg-3,
.grid-gutter-5 .col-md-6,
.grid-gutter-5 .col-md-4,
.grid-gutter-5 .col-md-3,
.grid-gutter-5 .col-sm-6,
.grid-gutter-5 .col-sm-4,
.grid-gutter-5 .col-sm-3,
.grid-gutter-5 .col-xs-6,
.grid-gutter-5 .col-xs-4,
.grid-gutter-5 .col-xs-3 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.grid-gutter-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.container-fluid .grid-gutter-10 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid-gutter-10 .col-lg-6,
.grid-gutter-10 .col-lg-4,
.grid-gutter-10 .col-lg-3,
.grid-gutter-10 .col-md-6,
.grid-gutter-10 .col-md-4,
.grid-gutter-10 .col-md-3,
.grid-gutter-10 .col-sm-6,
.grid-gutter-10 .col-sm-4,
.grid-gutter-10 .col-sm-3,
.grid-gutter-10 .col-xs-6,
.grid-gutter-10 .col-xs-4,
.grid-gutter-10 .col-xs-3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

/*Layout Mode*/
.boxed .banner__section {
  overflow: hidden;
}
@media (min-width:768px) {
  .boxed .page-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
  }
  .boxed .page-container {
    width: 750px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 748px;
  }
  .boxed.page-container-border-enabled .page-container,
  .onscroll.boxed.page-container-border-enabled .page-container .header-container .js-fixed {
    width: 780px;
  }
}
@media (min-width:992px) {
  .boxed .page-container {
    width: 970px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 968px;
  }
  .boxed.page-container-border-enabled .page-container,
  .onscroll.boxed.page-container-border-enabled .page-container .header-container .js-fixed {
    width: 1000px;
  }
}
@media (min-width:1200px) {
  .boxed .page-container {
    width: 1170px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 1168px;
  }
  .boxed.page-container-border-enabled .page-container,
  .onscroll.boxed.page-container-border-enabled .page-container .header-container .js-fixed {
    width: 1200px;
  }
}

/*Bordered page container */
.page-container-border-enabled .page-container {
  border-width: 10px;
  border-style: solid;
  overflow: hidden;
}
.page-container-border-enabled .page-container > div,
.page-container-border-enabled .page-container > .footer {
  margin-left: -10px;
  margin-right: -10px;
}
.page-container-border-enabled .page-container > .js-transparent-header,
.page-container-border-enabled .container-fluid .grid-gutter-10,
.page-container-border-enabled .container-fluid .grid-gutter-5,
.page-container-border-enabled .container-fluid .grid-gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 992px) {
  .page-container-border-enabled .page-container {
    border-width: 15px;
  }
  .page-container-border-enabled .page-container > div,
  .page-container-border-enabled .page-container > .footer {
    margin-left: -15px;
    margin-right: -15px;
  }
  .page-container-border-enabled .page-container > .js-transparent-header,
  .page-container-border-enabled .container-fluid .grid-gutter-10,
  .page-container-border-enabled .container-fluid .grid-gutter-5,
  .page-container-border-enabled .container-fluid .grid-gutter-0,
  .page-container-border-enabled .container-fluid .field--ocms-background-image-block {
    margin-left: 0;
    margin-right: 0;
  }
}


.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}



.dark-timeline { background: #333; }

.dark-timeline img { border: 0; max-width: 100%; }

.dark-timeline .page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}

/** timeline box structure **/
.dark-timeline .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.dark-timeline .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.dark-timeline .tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.dark-timeline .timeline li {
  margin-bottom: 25px;
  position: relative;
}

.dark-timeline .timeline li:before, .dark-timeline .timeline li:after {
  content: " ";
  display: table;
}
.dark-timeline .timeline li:after {
  clear: both;
}
.dark-timeline .timeline li:before, .dark-timeline .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.dark-timeline .timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.dark-timeline .timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.dark-timeline .timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.dark-timeline .timeline li .timeline-panel.noarrow:before, .dark-timeline .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.dark-timeline .timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.dark-timeline .timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.dark-timeline .timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.dark-timeline .timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #6a8db3;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #90acc7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.dark-timeline .tl-heading h4 {
  margin: 0;
  color: #c25b4e;
}

.dark-timeline .tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.dark-timeline .tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .dark-timeline .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .dark-timeline .page-header h1 { font-size: 1.8em; }
  
  .dark-timeline ul.timeline:before {
    left: 40px;
  }
  
  .dark-timeline .tldate { width: 140px; }

  .dark-timeline ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  .dark-timeline ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  .dark-timeline ul.timeline > li > .tldate {
    margin: 0;
  }

  .dark-timeline ul.timeline > li > .timeline-panel {
    float: right;
  }

  .dark-timeline ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .dark-timeline ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}