{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Header #}
{% include 'global-header.html.twig' %}

{% block main %}
  <div role="main" class="{{ container }}">
    <div class="row">

      {# Content #}
      <div class="ocms-error-message col-md-12">
          <i class="fa fa-4x fa-exclamation-triangle ocms-error-message__icon" aria-hidden="true"></i>
          <h1 class="ocms-error-message__title">Page Not Found.</h1>
          <h2 class="ocms-error-message__subtitle">Error 404.</h2>
          <p class="ocms-error-message__body">Sorry, this page isn't available.</p>
          <p class="ocms-error-message__body_strong">Please check the web address or try searching by the keyword below.</p>
        {# Help #}
        {% if page.error_message_content %}
          {% block error_message_content %}
            <p>{{ page.error_message_content }}</p>
          {% endblock %}
        {% endif %}

      </div>
      </section>
    </div>
  </div>
{% endblock %}

{# Footer #}
{% include 'global-footer.html.twig' %}