// Variables
// --------------------------

$ssp-font-path:        "../fonts/source-sans-pro/fonts" !default;
$ssp-font-size-base:   14px !default;
$ssp-line-height-base: 1 !default;
$ssp-css-prefix:       ssp !default;
$ssp-version:          "4.7.0" !default;
$ssp-border-color:     #eee !default;
$ssp-inverse:          #fff !default;
$ssp-li-width:         (30em / 14) !default;