/*Colors*/
$white:                 #fff;
$darkest-gray:          #333;
$ocms-blue-2:            #227DAE;    
$ocms-blue-1:            #234E76;

/* header */
$header-top-bg-color:               $ocms-blue-1;
$header-bg-color:                   $white;
$header-txt-color:                  $darkest-gray;
$header-highlight-link-color:       $ocms-blue-2;
$header-link-icon:                  $fa-var-arrow-right;

/* Typography */
$download-text:         13px;  