/*Nav pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  background-color: transparent;
  color: #2e3436;
  border-bottom: 1px solid rgba(46, 52, 54, 0.5);
}
.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover {
  color: #ffffff;
}
.nav-pills > li > a {
  text-decoration: none;
  padding: 5px 20px;
  font-size: 0.93em;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  text-transform: capitalize;
}
.view-showcases .nav-pills > li {
  margin-top: 5px;
}
.colored-region .nav-pills > li.active > a,
.colored-region .nav-pills > li.active > a:focus,
.colored-region .nav-pills > li.active > a:hover {
  color: #ffffff;
  border-color: #ffffff;
}
