/*Tables*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0 40px;
}
tbody {
  border-top-color: transparent;
}
table th {
  font-size: 1.12em;
  text-transform: uppercase;
  border-bottom: 3px solid;
  padding: 7px 10px;
  vertical-align: top;
  text-align: left;
}
table td {
  vertical-align: top;
  padding: 12px 10px;
  text-align: left;
}
table tr.even,
table tr.odd {
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
  border-bottom: 1px solid;
}
table tr:last-child,
table tr:last-child td {
  border-bottom-color: transparent;
}
.footer-area table th,
.footer-area table td,
.banner-area table th,
.banner-area table td {
  padding: 10px;
}

/*Tables on colored region*/
.colored-region table th {
  background-color: rgba(0, 0, 0, 0.05);
}
.colored-region table th,
.colored-region table tr.even,
.colored-region table tr.odd {
  border-color: rgba(255, 255, 255, 0.5);
}
@media (max-width:767px) {
  .table-responsive {
    border: none;
  }
}
