{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - path: An optional array containing the link 'path' and link 'options'.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
#}
{% if url %}
  {{ attach_library('ocms_corporate/magnific-poocms-field-ocms-feature-image-standard-init') }}
  <a class="overlayed image-popup" href="{{ url }}">{{ image }}<span class="overlay"><i class="fa fa-plus"></i></span></a>
{% else %}
  {{ image }}
{% endif %}
