<div class="ocms-media-alert">
    <div class="ocms-media-alert__historical" role="alert">
        <div class="ocms-media-alert__icon">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>

        <div class="ocms-media-alert__content">
            <h2 class="ocms-media-alert__content-title">Notice: Historical Content</h2>
            <p>This page is for historical reference only. The content may have been edited from the original version to remove information that is dated or no longer available.</p>
        </div>
    </div>
</div>